<div class="bg-main">
    <div class="container">
        <div class="row">
            <div class="col text-left class_left">
                <h3 class="cust_title">Products</h3>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <!-- <li class="breadcrumb-item "><a class="breadcrumb_link" [routerLink]="['/']">Customers</a></li> -->
                        <li class="breadcrumb-item "><a class="breadcrumb_link">Products</a></li>
                        <li class="breadcrumb-item "><a class="breadcrumb_link">T-Bills </a></li>
                        <li class="breadcrumb-item active" aria-current="page">T-Bill 364</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row border-top"></div>

        <div class="row">
            <div class="overview_card">
                <p class="card_title">T-Bill | 365</p>
                <div class="row border-bottom">
                    <div class="col-md-6">
                        <div class="mt-3 border-bottom pb-2">
                            <i class="fa fa-file-text-o" aria-hidden="true"></i>
                            <span class="icn_text"> Product Info</span>
                        </div>
                        <div class="row p-2 mt-3">
                            <div class="col-md-5">
                                <label class="prod_info_title">Product Type</label><br>
                                <label class="prod_info_title">Issuer</label><br>
                                <label class="prod_info_title">Country</label><br>
                                <label class="prod_info_title">Day Count</label><br>
                                <label class="prod_info_title">Taxable</label><br>
                                <label class="prod_info_title">Currency</label><br>
                                <label class="prod_info_title">Listing Status</label><br>
                                <label class="prod_info_title">Exchange</label><br>
                                <label class="prod_info_title">Fund Manager</label><br>
                            </div>
                            <div class="col-md-7 ">
                                <span class="prod_info_details">T-Bills</span><br>
                                <span class="prod_info_details">Ghana Govt</span><br>
                                <span class="prod_info_details">Ghana</span><br>
                                <span class="prod_info_details">Actual/364</span><br>
                                <span class="prod_info_details">Yes</span><br>
                                <span class="prod_info_details">GHS</span><br>
                                <span class="prod_info_details">Listed</span><br>
                                <span class="prod_info_details">GSE</span><br>
                                <span class="prod_info_details">Scotia Funds</span><br>
                            </div>
                        </div>
                        <div class="row p-2 mt-3 border-bottom">
                            <div class="mt-3 pb-2">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <span class="icn_text"> Security Level</span>
                            </div>
                        </div>
                        <div class="row p-2 mt-3">
                            <div class="col-md-5">
                                <label class="prod_info_title">Security Name</label><br>
                                <label class="prod_info_title">Security Code (ISIN)</label><br>
                                <label class="prod_info_title">Tenor</label><br>
                                <label class="prod_info_title">Issue Date</label><br>
                                <label class="prod_info_title">Maturity Date</label><br>
                            </div>
                            <div class="col-md-7">
                                <span class="prod_info_details">T-Bills 364</span><br>
                                <span class="prod_info_details">XS182141632</span><br>
                                <span class="prod_info_details">364 Days</span><br>
                                <span class="prod_info_details">14-Dec-2022</span><br>
                                <span class="prod_info_details">14-Dec-2022</span><br>
                            </div>
                        </div>

                        <div class="row p-2 mt-3 border-bottom">
                            <div class="mt-3 pb-2">
                                <i class="fa fa-exchange" aria-hidden="true"></i>
                                <span class="icn_text"> Transaction Level</span>
                            </div>
                        </div>
                        <div class="row p-2 mt-3 ml-2">
                            <div class="col-md-5">
                                <label class="prod_info_title">Security Name</label><br>
                                <label class="prod_info_title">Amount</label><br>
                                <label class="prod_info_title">Indicative Buy</label><br>
                                <label class="prod_info_title">Indicative Sell</label><br>
                            </div>
                            <div class="col-md-7">
                                <span class="prod_info_details">T-Bills 364</span><br>
                                <span class="prod_info_details">GHS 115.00</span><br>
                                <span class="prod_info_details">10%</span><br>
                                <span class="prod_info_details">30%</span><br>
                            </div>
                        </div>
                        <div class="row p-2 mt-3">
                            <div class="col-md-9">
                                <label class="prod_info_title">Security Name</label><br>
                                <p class="note_content">
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                                    invidunt ut labore et dolore.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="mt-2 pt-1 border-bottom">
                            <p class="card_title1">Holding Summary</p>
                        </div>
                        <div class="row mt-3 p-2">
                            <div class="col-md-12">
                                <div class="row border-bottom">
                                    <div class="col-md-4">
                                        <label class="prod_info_title">SEED Holding</label><br>
                                        <p class="holding_price">20000.00 <span style="color: #A7AFB7;"> GHS</span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="prod_info_title">Customer Holding</label><br>
                                        <p class="holding_price">20000.00 <span style="color: #A7AFB7;"> GHS</span></p>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="prod_info_title">Total Holding</label><br>
                                        <p class="holding_price1">20000.00 <span style="color: #A7AFB7;"> GHS</span></p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6"></div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-add-bill" (click)="addBillModal()">Add Purchase Bill</button>
                            </div>
                        </div>
                        <div class="row p-3 mt-2">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Transaction ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Debit</th>
                                        <th scope="col">Credit</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>22/02/2021</td>
                                        <td>2568548</td>
                                        <td>Debra Jordan</td>
                                        <td class="text-danger">-300.00 <span style="color: #A7AFB7;"> GHS</span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>22/02/2021</td>
                                        <td>2568548</td>
                                        <td>Debra Jordan</td>
                                        <td class="text-danger"></td>
                                        <td class="text-success">+1300.00 <span style="color: #A7AFB7;"> GHS</span></td>
                                    </tr>
                                    <tr>
                                        <td>22/02/2021</td>
                                        <td>2568548</td>
                                        <td>Debra Jordan</td>
                                        <td class="text-danger">-500.00 <span style="color: #A7AFB7;"> GHS</span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>22/02/2021</td>
                                        <td>2568548</td>
                                        <td>Debra Jordan</td>
                                        <td class="text-danger"></td>
                                        <td class="text-success">+8000.00 <span style="color: #A7AFB7;"> GHS</span></td>
                                    </tr>
                                    <tr>
                                        <td>22/02/2021</td>
                                        <td>2568548</td>
                                        <td>Debra Jordan</td>
                                        <td class="text-danger"></td>
                                        <td class="text-success">+1000.00 <span style="color: #A7AFB7;"> GHS</span></td>
                                    </tr>
                                    <tr>
                                        <td>22/02/2021</td>
                                        <td>2568548</td>
                                        <td>Debra Jordan</td>
                                        <td class="text-danger">-300.00 <span style="color: #A7AFB7;"> GHS</span></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>22/02/2021</td>
                                        <td>2568548</td>
                                        <td>Debra Jordan</td>
                                        <td class="text-danger"></td>
                                        <td class="text-success">+1300.00 <span style="color: #A7AFB7;"> GHS</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row p-2 mt-3">
                    <div class="col text-left">
                        <button class="btn-delete">Delete</button>
                        <button class="btn-edit" [routerLink]="['/product/t-bill/edit-tbill']">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>