<div class="modal-content">
    <div class="modal-header">
        <div class="text-left">
            <h2 class="title">Add Purchase Tbill</h2>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="" class="label_title">Reason to Deactivation</label>
        <input type="text" class="form-control" placeholder="10%">
      </div>
      <div class="form-group">
        <label for="" class="label_title">Reason to Deactivation</label>
        <input type="text" class="form-control" placeholder="Marhet Refrence No.">
      </div>
      <div class="form-group">
        <label for="" class="label_title">Amount</label>
        <input type="text" class="form-control" placeholder="5000 GHS">
      </div>
      
     
      <button class="btn btn_user">ADD</button>
      </form>
  </div>
  