.icn_img {
    opacity: 1;
    color: #A7AFB7;
    font-size: 30px;
    margin-top: 15px;
    cursor: pointer;
}
.user_icon_img {
    width: 70px;
}

@media screen and (min-width:320px) and (max-width:640px) {
    .user_icon_img {
        width: 60px !important;
        margin-top: 15px;
      }
      .font-size-30px {
        font-size: 25px;
    }
    .form-control {
        width: 88%;
    }
    .icn_img {
        margin-top: 25px;
        margin-right: 10px;
    }
    .pwd_text {
        padding-right: 20px;
    }
}