<div class="modal-content">
    <div class="modal-header">
        <div class="text-left">
            <h2 class="title">Change Password</h2>
        </div>
        <button type="button" class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="" class="label_title">New Password</label>
        <input type="password" class="form-control" placeholder="Enter New Password" formControlName="password">
        <div
                  *ngIf="controls.password.invalid && (controls.password.dirty || controls.password.touched || isError)"
                  class="text-danger">
                  <div *ngIf="controls.password.errors && controls.password.errors.invalidPassword" class="error-center">Invalid Password format *</div>
                  <div *ngIf="controls.password.errors.required" class="error-center">Password is required *</div>
               </div>
      </div>
      <div class="form-group">
        <label for="" class="label_title">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Enter Confirm Password" formControlName="confirmPassword">
        <div
                  *ngIf="controls.confirmPassword.invalid && (controls.confirmPassword.dirty || controls.confirmPassword.touched || isError)"
                  class="text-danger">
                  <div *ngIf="controls.confirmPassword.errors.required" class="error-center">Confirm Password is
                     required *</div>
                  <div *ngIf="controls.confirmPassword.errors && controls.confirmPassword.errors.invalidPassword" class="error-center">Invalid Password format *</div>
                  <div *ngIf="controls.confirmPassword.errors.passwordMatch === false" class="error-center">Confirm
                     Password and Password don't match</div>
               </div>
      </div>
      <button class="btn btn_user" (click)="changePassword()">Save</button>
      <!-- <button class="btn btn_user" (click)="changePwd()">Change Password</button> -->
      <div class="">
       
      </div>
      <div class="font-size-12px text-center color-00000099">
        Make sure your password is strong with at least 8 characters 1 lower 1 upercase 1 special character 1 number
     </div>
      </form>
  </div>
  