<div class="sidenav">
    <img src="assets/onboarding/logo.png" routerLink ="/" class="p-4 cursor-pointer" >
    <div class="login-main-text pl-4">
       <div class="font-size-40px">
          Welcome to SEED
       </div>
       <div class="font-size-22px color-text text-color-grey mt-2 letter-spacing-0-21px">
          Lorem ipsum dolor sit amet, consetetur.
       </div>
    </div>
 </div>
<div class="main">
   <div class="ml-3 login-card-width">
      <div class="login-form login-form-ml-5">

         <div class="row margin-left-n8 mr-0">
            <div class="col-6 p-0">
               <img src="assets/onboarding/user_icon.png" class="user_icon_img">
            </div>
            <div class="col-6 text-right">
               <i class="fa fa-home icn_img" routerLink = '/admin/login'></i>
            </div>
         </div>
         <div class="font-size-30px mt-3"><b>New Password</b></div>
         <div class="font-size-16px color-00000099">An email will be sent with a link which will allow you to reset your password</div>
         <form class="mt-4" [formGroup]="form">
            <div class="form-group">
               <input type="password" class="form-control width-350px caret-color-28A0A5 height-45px" placeholder="New Password"
                  formControlName="password">
               <div *ngIf="controls.password.invalid && (controls.password.dirty || controls.password.touched || isError)"
                  class="text-danger">
                  <div *ngIf="controls.password.errors && controls.password.errors.invalidPassword" class="error-center">Invalid
                     Password format *</div>
                  <div *ngIf="controls.password.errors.required" class="error-center">Password is required *</div>
               </div>
            </div>
            <div class="form-group">
               <input type="password" class="form-control width-350px caret-color-28A0A5 height-45px"
                  placeholder="Re-Type Password" formControlName="confirmPassword">
               <div
                  *ngIf="controls.confirmPassword.invalid && (controls.confirmPassword.dirty || controls.confirmPassword.touched || isError)"
                  class="text-danger">
                  <div *ngIf="controls.confirmPassword.errors.required" class="error-center">Confirm Password is
                     required *</div>
                  <div *ngIf="controls.confirmPassword.errors && controls.confirmPassword.errors.invalidPassword"
                     class="error-center">Invalid Password format *</div>
                  <div *ngIf="controls.confirmPassword.errors.passwordMatch === false" class="error-center">Confirm
                     Password and Password don't match *</div>
               </div>
            </div>
         
         </form>
         <!-- <button type="submit" class="button-width-128 mt-2 mb-4" (click)="changePassword()">Submit</button> -->
         <button type="submit" [ngClass]="loadButton ? 'button-width-128-grey text-color-grey mt-2 mb-4' : 'button-width-128 mt-2 mb-4' " (click)="changePassword()">
            <i class="spinner-border text-color-grey btn-spin  mb-1 mr-1 " *ngIf="loadButton"  style="height:1rem; width:1rem"></i>
            Submit
         </button>
         <div class="font-size-16px color-00000099">
            Make sure your password is strong with at least 8 characters 1 lower 1 upercase 1 special character 1 number
         </div>

      </div>
   </div>
</div>