<div class="sidenav">
   <img src="assets/onboarding/logo.png" routerLink ="/" class="p-4 cursor-pointer">
   <div class="login-main-text pl-4">
      <div class="font-size-40px">
         Welcome to SEED
      </div>
      <div class="font-size-22px color-text text-color-grey mt-2 letter-spacing-0-21px">
         Lorem ipsum dolor sit amet, consetetur.
      </div>
   </div>
</div>
<div class="main">
   <div class="ml-3 login-card-width">
      <div class="login-form login-form-ml-5">
         <img src="assets/onboarding/user_icon.png" class="margin-left-n8 user_icon_img">
         <div class="font-size-30px mt-3"><b>Sign In</b></div>
         <div class="font-size-16px color-00000099">Lorem ipsum dolor sit amet, consetetur.</div>
         <form class="mt-4" [formGroup]="form">
            <div class="form-group">
               <input type="text" formControlName="email" class="form-control width-350px caret-color-28A0A5 height-45px" placeholder="Email ID">
               <div *ngIf="controls.email.invalid && (controls.email.dirty || controls.email.touched || isError)" class="text-danger">
                  <div *ngIf="controls.email.errors.required" class="error-center">Email Id is required *</div>
                  <div *ngIf="controls.email.errors.invalidEmail" class="error-center">Enter a valid Email Id</div>
              </div>
            </div>
            <div class="form-group">
               <input type="password" formControlName="password" class="form-control width-350px caret-color-28A0A5 height-45px" placeholder="Password">
               <div *ngIf="controls.password.invalid && (controls.password.dirty || controls.password.touched || isError)" class="text-danger">
                  <div *ngIf="controls.password.errors.required" class="error-center">Password is required *</div>
                  <div *ngIf="controls.password.errors.minlength" class="error-center">Password can't be less then 8 character</div>                                                                  
              </div>
            </div>
            <div class="row ml-0 mr-0">
               <div class="round mt-1">
                  <input type="checkbox" id="checkbox" class="cursor-pointer" [checked]="rememberMe" (click)="changeRemember($event)"/>
                  <label for="checkbox"></label>
                  <span class="checkbox_text">Keep me signed in</span>
               </div>
               <div class="text-right col-6">
                  <a class="cursor-pointer signin_link cursor-pointer" (click)="forgetPassword()" >Forgot Password?</a>
               </div>
            </div>
            <button type="submit" [ngClass]="loadButton ? 'button-width-128-grey text-color-grey mt-4 mb-4' : 'button-width-128 mt-4 mb-4' " (click)="login()">
               <i class="spinner-border text-color-grey btn-spin  mb-1 mr-1 " *ngIf="loadButton"  style="height:1rem; width:1rem"></i>
               Sign in
            </button>
         </form>

      </div>
   </div>
</div>