<div class="bg-main">
  <div class="col-md-12 padding-0">

    <div class="row mt-1 p-1">
      <div class="col-md-7">
        <h3 class="dashboard_title">Dashboard</h3>
      </div>
      <div class="col-md-3 text-right">
        <!-- <h3 class="dashboard_title"><span class="datetime">{{date  | date:'yyyy-MM-dd'}} </span></h3> -->
        <h3 class="dashboard_title"><span class="datetime">Wed 20 Feb-2021 | 10:22 am</span></h3>
      </div>
      <div class="col-md-2 text-right">
        <button class="btn btn-add"> <i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Add</button>
      </div>
    </div>
    <div class="clearfix">&nbsp;</div>

  </div>
  <div class="col-md-12 padding-0">

    <div class="row">

      <div class="col-md-4">
        <p class="refershlink">Refresh | <a class="refershlink" [routerLink]="['/customer/list/']">View All</a></p>
        <div class="white-box">
          <h2>New Customers</h2>
          <table class="table" cellspacing="0" cellpadding="0">
            <thead class="head-bg">
              <tr>
                <th scope="col" class="p-l-10">Customer Name</th>
                <th scope="col">Date</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Jodie Gils</td>
                <td>01-Jan-21</td>
                <td>

                </td>
              </tr>
              <tr > 
                <!-- class="active" -->
                <td>Jodie Gils</td>
                <td>01-Jan-21</td>
                <td></td>
                <!-- <td> <button class="btn view-btn">View</button></td>
              </tr> -->
              <tr>
                <td>Jodie Gils</td>
                <td>01-Jan-21</td>
                <td></td>
              </tr>
              <tr>
                <td>Jodie Gils</td>
                <td>01-Jan-21</td>
                <td></td>
              </tr>
              <tr>
                <td>Jodie Gils</td>
                <td>01-Jan-21</td>
                <td> </td>
              </tr>

            </tbody>
          </table>

        </div>

      </div>
      <div class="col-md-8 ">
        <p class="refershlink">Refresh | View All</p>
        <div class="white-box">
          <h2>Buying Activity</h2>


          <ul ngbNav #nav="ngbNav" class="nav-tabs buying-tabs">
            <li ngbNavItem class="p-l-3">
              <a ngbNavLink >T-BIlls</a>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <ng-template ngbNavContent>
                <div class="table-wrapper">
                <table class="table buying-tabs-table table-responsive" >

                  <thead class="head-bg">
                    <tr>
                      <th scope="col" class="p-l-10">Customer Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">T-Bill Name</th>
                      <th scope="col">Cost(GHs)</th>
                      <th scope="col">Interest %</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td>
                        <button class="btn view-btn">View</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>


                  </tbody>
                </table>
              </div>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Bonds</a>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <ng-template ngbNavContent>
                
                  <table class="table buying-tabs-table table-responsive">
                    <thead class="head-bg">
                      <tr>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Time</th>
                        <th scope="col">Bonds Name</th>
                        <th scope="col">Cost(GHs)</th>
                        <th scope="col">Interest</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Joly Boo</td>
                        <td>01 Jan 2021</td>
                        <td>22:22 pm</td>
                        <td>Bond 1</td>
                        <td>103.00</td>
                        <td>12%</td>
                        <td>
                          <button class="btn view-btn">View</button>
                        </td>
                      </tr>
                      <tr>
                        <td>Joly Boo</td>
                        <td>01 Jan 2021</td>
                        <td>22:22 pm</td>
                        <td>Bond 1</td>
                        <td>103.00</td>
                        <td>12%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Joly Boo</td>
                        <td>01 Jan 2021</td>
                        <td>22:22 pm</td>
                        <td>Bond 1</td>
                        <td>103.00</td>
                        <td>12%</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Joly Boo</td>
                        <td>01 Jan 2021</td>
                        <td>22:22 pm</td>
                        <td>Bond 1</td>
                        <td>103.00</td>
                        <td>12%</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>

                
                
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Mutual Funds</a>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <ng-template ngbNavContent>
                <table class="table buying-tabs-table table-responsive">
                  <thead class="head-bg">
                    <tr>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Mutual Funds</th>
                      <th scope="col">Cost(GHs)</th>
                      <th scope="col">Interest</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>Mutual Funds 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td>
                        <button class="btn view-btn">View</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>Mutual Funds 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>Mutual Funds 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>Mutual Funds 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Shares</a>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <ng-template ngbNavContent>
                <table class="table buying-tabs-table table-responsive">
                  <thead class="head-bg">
                    <tr>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Shares Name</th>
                      <th scope="col">Cost(GHs)</th>
                      <th scope="col">Interest</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>Shares 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td>
                        <button class="btn view-btn">View</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>Shares 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>Shares 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>Shares 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>

        </div>
      </div>

    </div>

    <div class="clearfix">&nbsp;</div>

    <div class="row">

      <div class="col-md-4">
        <p class="refershlink">Refresh | View All</p>

        <div class="white-box">

          <ul ngbNav #nav="ngbNav" class="nav-tabs buying-tabs">
            <li ngbNavItem >
              <a ngbNavLink>T-BIlls</a>

              <ng-template ngbNavContent>

              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Bonds</a>
              <ng-template ngbNavContent>Second content</ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Mutual Funds</a>
              <ng-template ngbNavContent>First content</ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Shares</a>
              <ng-template ngbNavContent>Second content</ng-template>
            </li>
          </ul>
          <div class="clearfix">&nbsp;</div>
          <div id="graph-container" style="height: 330px;"></div>


        </div>

      </div>
      <div class="col-md-8 ">
        <p class="refershlink">Refresh | View All</p>
        <div class="white-box">
          <h2>Selling Activity</h2>


          <ul ngbNav #nav="ngbNav" class="nav-tabs buying-tabs">
            <li ngbNavItem class="p-l-3">
              <a ngbNavLink>T-BIlls</a>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <ng-template ngbNavContent>
                <table class="table buying-tabs-table table-responsive">
                  <thead class="head-bg">
                    <tr>
                      <th scope="col">Customer Name</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">T-Bill Name</th>
                      <th scope="col">Cost(GHs)</th>
                      <th scope="col">Interest</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td>
                        <button class="btn view-btn">View</button>
                      </td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Joly Boo</td>
                      <td>01 Jan 2021</td>
                      <td>22:22 pm</td>
                      <td>T Bill 1</td>
                      <td>103.00</td>
                      <td>12%</td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Bonds</a>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <ng-template ngbNavContent>
              
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Mutual Funds</a>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <ng-template ngbNavContent>First content</ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink>Shares</a>
              <div class="clearfix">&nbsp;</div>
              <div class="clearfix">&nbsp;</div>
              <ng-template ngbNavContent>Second content</ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav"></div>

        </div>
      </div>

    </div>


  </div>
  <div class="clearfix">&nbsp;</div>


</div>